.wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}


.label {
    font-size: 0.875em;
    font-weight: 500;
    color: #333;
    margin-bottom: 2px;
}


.input {
    width: 100%;
    padding: 0.8em 1em;
    font-size: 1em;
    font-family: inherit;
    color: #213547;
    background-color: #ffffff;
    border: 2px solid #d0d0d0;
    border-radius: 8px;
    outline: none;
    transition: all 0.25s ease;
    box-sizing: border-box;
}


.input::placeholder {
    color: #999999;
}

.input:hover:not(:disabled) {
    border-color: #b0b0b0;
}


.input:focus {
    border-color: #646cff;
    box-shadow: 0 0 0 3px rgba(100, 108, 255, 0.15);
}


.small {
    padding: 0.5em 0.75em;
    font-size: 0.875em;
}

.medium {
    padding: 0.8em 1em;
    font-size: 1em;
}

.large {
    padding: 1em 1.25em;
    font-size: 1.125em;
}


.error {
    border-color: #e74c3c;
    background-color: #fff5f5;
}

.error:focus {
    border-color: #e74c3c;
    box-shadow: 0 0 0 3px rgba(231, 76, 60, 0.15);
}


.errorMessage {
    display: block;
    color: #e74c3c;
    font-size: 0.875em;
    margin-top: 4px;
    font-weight: 500;
}


.disabled,
.input:disabled {
    background-color: #f5f5f5;
    color: #999;
    cursor: not-allowed;
    border-color: #e0e0e0;
}

.input:disabled::placeholder {
    color: #ccc;
}


.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    box-shadow: 0 0 0px 1000px #ffffff inset;
    transition: background-color 5000s ease-in-out 0s;
}


.input:focus-visible {
    outline: 3px solid rgba(100, 108, 255, 0.5);
    outline-offset: 2px;
}